.say {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    height: 50px;

}
a {
    text-decoration: none;
    color: white;
}

.speed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 30px;
    width: 30px;
}

.demon  {
    background-color: purple;
    width: 300px;
    height: 350px;
    border-top: 20px dashed green;
    border-left: 20px dotted orchid;
    border-bottom: 20px double red;
    border-right: 20px ridge brown;
    border-radius: 0px 0px 200px 200px;
    

    margin: 40px 50px 50px 45px;
    padding: 30px;
    box-shadow: 40px -40px 20px inset black;
    
}

.omo-sha1 {
    width: fit-content;
    background-color: gold;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 86%;
    display: none;
}

li {
    list-style-type: none;
    background-color: blue;
    margin: 10px;
}

.enough1:hover>ul.omo-sha1 {
    display: block;
}
 