.no-name {
    background-color: blue;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    height: 50px;
}



.blood {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 30px;
    width: 30px;

}

.no-name a {
    text-decoration: none;
    color: white;
}
.copy {
    margin-top: 50px;
    background-color: darkblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
}

.man {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    padding-left: 150px;
    
}

.mono {
    padding-left: 30px;
    padding-right: 15px;
}

.mono button {
    background-color: rgb(6, 206, 179);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}



h4 {
    width: max-content;
    color: white;
    padding-left: 15px;
}

.mama {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 30px ;
    height: 30px ;
}

.copy .mj {
    display: none;
    background-color: red;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    list-style: none;
}

.food{
    width: fit-content;
    background-color: gold;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 86%;
    display: none;
}

.omo-sha {
    width: fit-content;
    background-color: gold;
    padding: 10px;
    position: absolute;
    top: 5%;
    left: 86%;
    display: none;
}

li {
    list-style-type: none;
    background-color: blue;
    margin: 10px;
}

.enough:hover>ul.omo-sha {
    display: block;
}
 